<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    photoCover="https://i.pinimg.com/564x/56/eb/03/56eb0333b4861ae9e6e22c74c603d86f.jpg"
    cardTitle="RENAISSANCE: A Film by Beyoncé"
    cardDescription="a produção mostrará os detalhes e bastidores da nona turnê da artista norte-americana. A série de shows começou em maio, em Estocolmo, na Suécia; e recebeu um grande finale no início de outubro, em Kansas City, nos Estados Unidos."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      smallcardPhoto="https://i.pinimg.com/564x/6f/50/05/6f50059915f2706cd23e57e7f235c03f.jpg"
      smallcardTitle="Com apenas 56 shows a renaissance wold tour arrecadou mais de 590 milhoes de dólares"
    ></app-small-card>
    <app-small-card
      smallcardPhoto="https://i.pinimg.com/564x/e5/17/b1/e517b1cc65f30389cfb4b8604b0e6e7b.jpg"
      smallcardTitle='"Beyoncé é a musicista mais importante do nosso tempo" - disse revista Vogue.'
    ></app-small-card>
    <app-small-card
      smallcardPhoto="https://i.pinimg.com/564x/2f/7b/e3/2f7be38e347e441763cd9ab41a19db37.jpg"
      smallcardTitle='Beyoncé foi indicada ao VMAs 2023 na categoria "Artist of the year".'
    ></app-small-card>
  </div>
</div>

